/* Global */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 2em;
}

.title {
  display: none;
}

p {
  line-height: 2;
}

img {
  max-width: 100%;
}

/* Utilities */
.container {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.sub1 {
  margin: 0;
}

.sub2 {
  margin: 0;
  font-size: 1.2em;
}

/* Header */
.site-header {
  background-image: url(../media/banner.jpg);
  height: 28em;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  margin: 0;
}

.header-nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em 0.5em 1em;
}

.flex-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-desc {
  padding-top: 6%;
}

/* Main */
.flex-courses {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.flex-courses h2 {
  text-align: left;
}

.flex-courses h3 {
  font-size: 1.4em;
}

.btn-info {
  display: inline-block;
  background-color: #523820;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em;
  font-weight: 700;
}

.flex-courses article {
  border-bottom: 1px solid darkgray;
  padding-bottom: 2em;
}

.flex-courses article:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.nav-coffee {
  font-weight: 700;
  font-size: 2em;
}

.nav-blog {
  font-weight: 400;
  font-size: 2em;
}

.nav-title {
  margin-top: 1em;
  margin-bottom: 1em;
  text-decoration: none;
  color: white;
}

/* Article */
.article-blog {
  border-bottom: 1px solid darkgray;
  margin-bottom: 2em;
}

.article-blog:last-child {
  border: none;
}

.btn-read {
  display: inline-block;
  background-color: black;
  color: white;
  text-decoration: none;
  margin-bottom: 2em;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 700;
}

.flex-articles article:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.flex-articles {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.about {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.about h2 {
  text-align: center;
}

/* Footer */
